.video-container {
    max-width: 1045px;
    max-height: 588px;
    min-width: 300px;
    margin: auto;
    border: 2px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.form-label {
    font-weight: bold;
    margin-right: 10px;
}

.form-select,
.form-range {
    margin-left: 10px;
}